@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #fcfcfc;
}

.chat-area,
.home,
.teacher,
.join {
    margin-top: 70px;
}

.chat-area {
    padding: 20px;
}

.chat-area .chat-bubble {
    background-color: rgb(187, 222, 251);
    padding: 20px;
    border-radius: 4px;
    max-width: 400px;
    word-wrap: break-word;
}

.chat-area .chat-bubble.alarm {
    background: rgba(227, 6, 19, 0.7);
}

.chat-bubble .chat-time {
    font-size: 12px;
    color: #757575;
    text-align: right;
}

.form-control {
    width: 40%;
}

.form-control:focus {
    box-shadow: none;
}

.btn {
    margin-top: 10px;
}

.btn-submit {
    background-color: #2e7d32;
    color: white;
}

.training {
    margin-top: 10px;
}

.hidden {
    display: none;
}

.join {
    margin: 70px auto;
    max-width: 900px;
}

.funkteilnehmer {
    height: 60px;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
}

.funkteilnehmer span {
    float: left;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.funkteilnehmer .form-control {
    float: right;
    position: relative;
    right: 180px;
    margin-top: 0px;
}

.funkteilnehmer .btn {
    float: right;
    position: relative;
    right: -40%;
    margin-top: 0px;
}

.btn-danger.delete,
.btn-success.joinBtn {
    width: 85px;
}

.btn-danger.delete {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn-danger.delete img {
    width: 24px;
}

.btn-success.joinBtn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-success.joinBtn img {
    width: 24px;
}

.wrapper {
    text-align: center;
}

.content {
    display: inline-block;
    text-align: left;
}

.content h3 {
    display: inline-block;
    margin: 80px 0px 10px 10px;
}

.content .form-group {
    max-width: 200px;
}

.content .form-control {
    width: 100%;
}

.content form {
    max-width: 350px;
}

.content .info {
    display: inline-block;
}

.new {
    animation-name: newMessage;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.new.alarm {
    animation-name: newMessageError;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.buttonColumn button {
    width: 80%;
}

.cityJoinBtn {
    max-width: 200px;
}

@media screen and (max-width: 767px) {
    .funkteilnehmer {
        margin-top: 60px;
    }

    .form-control.funk-name {
        width: 100%;
        position: relative;
        top: 40px;
        right: 0px;
    }

    .funkteilnehmer .btn {
        display: block;
        position: relative;
        top: 45px;
        right: 0px;
    }

    .chat-area .chat-bubble {
        max-width: 300px;
    }
}

@keyframes newMessage {
    0% {
        background: rgba(187, 222, 251, 1);
    }
    25% {
        background: rgba(187, 222, 251, 0);
    }
    50% {
        background: rgba(187, 222, 251, 1);
    }
    75% {
        background: rgba(187, 222, 251, 0);
    }
    100% {
        background: rgba(187, 222, 251, 1);
    }
}

@keyframes newMessageError {
    0% {
        background: rgba(227, 6, 19, 0.7);
    }
    25% {
        background: rgba(227, 6, 19, 0.2);
    }
    50% {
        background: rgba(227, 6, 19, 0.7);
    }
    75% {
        background: rgba(227, 6, 19, 0.2);
    }
    100% {
        background: rgba(227, 6, 19, 0.7);
    }
}
